/*---------timer---------*/

#timer{
    background-color: var(--gray-1);
    display: flex;
    box-shadow: var(--shadow-1);
    z-index: 5;
    height: 8vh;
}

#timer-number{
    height: 10vw;
    width: 10vw;
    box-sizing: border-box;
    padding: .8em;
    flex-shrink: 0;
    color: var(--gray-6);
/*     text-shadow:.1rem .1rem 0em var(--color-accent-2),
                -.1rem -.1rem 0em var(--color-accent-2); */
    cursor: pointer;
}

#timer-number div{
    height: 5vh;
    width: 5vh;
    background-color: var(--gray-3);
    border: .3em solid var(--color-accent-1);
    display: grid;
    place-items: center;
    border-radius: 100%;
    box-sizing: border-box;
}

#timer-number div p{
    text-align: center;
    font-size: 5vw;
    color: var(--gray-6);
    font-family: standart;
    text-shadow: var(--outline-1);
    user-select: none;
    display: flex;
}

#timer-number div p span{
    font-size: .8em;
    align-self: center;
}

#timer-bar-parent{
    height: 2.8vw;
    width: 100%;
    margin-block: auto;
    background-color: var(--gray-2);
    margin-inline: 1em;
    border-radius: 1rem;
    overflow: hidden;
}

#timer-bar{
    height: 100%;
    width: 0%;
    background-color: var(--color-accent-1);
}

/*---------player---------*/

#players{
    background-color: var(--gray-2);
    z-index: 3;
    box-shadow: var(--shadow-1);
    padding-top: .6em;
    overflow-y: auto;
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
}

.player{
    font-size: 1.3em;
    padding: .5em;
    background-color: var(--gray-3);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    position: relative;
    width: 45vw;
    height: 90%;
    margin: auto;
    box-sizing: border-box;
}

.name{
    display: inline;
    color: var(--gray-6);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: var(--outline-1)
}

.player div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.points-parent{
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
    grid-area: 1 / 2 / span 2 / span 1;
}

.points{
    font-size: 1.4em;
    font-family: standart;
    text-shadow:var(--outline-1);
    color: var(--gray-6);
    align-self: flex-start;
    margin-top: -1rem;
}

.player div div{
    background-color: var(--color-accent-1);
    aspect-ratio: 1/1;
    padding: .2em;
    border-radius: 50%;
    margin-right: .4em;
    box-shadow: var(--shadow-3);
    
}

.player div div i{
    font-size: .6em;
    color: var(--gray-6);
    /* text-shadow: var(--outline-1); */
    pointer-events: none;
}

.add{
    background-color: var(--gray-1);
/*     position: fixed;
    bottom: 0;
    left: 0; */
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: .5rem 0;
    box-shadow: var(--shadow-1);
    justify-content: space-around;
    color: var(--gray-5);
    z-index: 5;
}

.add p{
    font-size: 1rem;
    color: white;
}

.add input{
    background-color: var(--gray-3);
    border: none;
    margin-right: .5rem;
    /* border-bottom: .1rem solid var(--color-accent-1); */
    color: var(--gray-6);
    border-radius: .3rem;
    box-sizing: border-box;
    padding-inline: .5rem;
    transition: border .4s;
    box-shadow: inset 0 0 .2rem .2rem rgba(0, 0, 0, 0.271);
    width: 30%;
}

.add input:focus{
    outline: none;
    border: none;
    border-bottom: .1rem solid var(--color-accent-1);
}

/* .add i{
    margin-left: .5rem;
    cursor: pointer;
    color: var(--gray-2);
    transition: all .5s;
    min-width: 1rem;
    min-height: 1rem;
}

.add i:hover{
    color: var(--color-accent-1);
} */

.add i:active{
    color: var(--color-accent-2);
}

.player .fa-pen-to-square{
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s;
    color: var(--gray-6);
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: var(--gray-4);
    /* border: .2rem solid var(--gray-2); */
    padding: .4rem;
    margin: .2rem;
    box-shadow: var(--shadow-2);
}

.player .fa-pen-to-square:hover{
    background-color: var(--color-accent-1);
}

/**********Imports**********/

@font-face {
    font-family: standart;
    src: url(../import/Roboto-Bold.ttf);
}