/**********Generall**********/
*{
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5,h6{
    font-family: Arial;
    font-weight: bold;
    color: var(--gray-1);
}

img{
    width:100%
}

body{
    overflow: auto;
}

/**********Main Style**********/
main{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}


/*---------- position content ----------*/

/* #region*/
article{
    position: absolute;
}

article[data-position="right"]{
    transform: translateX(100%);
}

article[data-position="left"]{
    transform: translateX(-100%);
}

/* #endregion */


/*---------timer---------*/

/* #region */

#timer{
    background-color: var(--gray-1);
    display: flex;
    z-index: 5;
    height: 5vh;
}

#timer-number{
    box-sizing: border-box;
    flex-shrink: 0;
    color: var(--gray-6);
    height: inherit;
}

#timer-number p{
    height: inherit;
    aspect-ratio: 1;
    text-align: center;
    color: var(--gray-6);
    font-family: standart;
    user-select: none;
    display: flex;
    font-size: 4vh;
}

#timer-number p span{
    margin: auto;
    align-self: center;
    font-size: 4vh;
}

#timer-bar-parent{
    height: inherit;
    width: 100%;
    margin-block: auto;
    background-color: var(--gray-2);
    overflow: hidden;
}

#timer-bar{
    height: 100%;
    width: 0%;
    background-color: var(--color-accent-1);
}

/* #endregion */

/*---------fragen---------*/

/* #region */

#questions{
    background-color: var(--gray-3);
    display: flex;
    position: relative;
    height: auto;
}

#questions h1{
    text-align: center;
    font-size: 1em;
    padding: .4em;
    background-color: var(--color-accent-1);
    color: var(--gray-6);
    user-select: none;
}

.catergory{
    background-color: var(--gray-3);
    width: 25%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto repeat(5, 1fr);
}

.catergory div{
    box-sizing: border-box;
    background-color:var(--gray-4);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.catergory div p{
    font-size: 2em;
    text-align: center;
    text-shadow: var(--outline-1);
    color: var(--gray-6);
    user-select: none;
}

#selected{
    background-color: var(--gray-4);
    border: 0rem solid var(--color-accent-1);
    padding: 2.5rem;
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    flex-direction: column;
}

#selected .text{
    color: var(--gray-6);
    text-shadow: var(--outline-1);
    font-family: standart;
    font-size: 6vw;
    width: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
    transition: all .3s;
    transition-delay: .6s;
    line-height: 130%;
}

#selected .image{
    width: auto;
    aspect-ratio: 4/3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#selected .sol{
    text-align: center;
    font-size: 4vw;
    color: white;
}

#selected .hidden{
    position: absolute;
    opacity: 1;
    width: 40vw;
    left: 0;
}

#selected .shown{
    position: absolute;
    opacity: 1;
    transition: opacity 1s;
    width: 40vw;
    right: 0;
}

#selected .buttons{
    display: flex;
    position: absolute;
    top: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
    left: 0;
    right: 0hhh;
}

#selected .buttons p{
    color: rgb(122, 18, 128);
    text-align: center;
    width: 10%;
    font-size: 1.2rem;
    cursor: pointer;
    margin-inline: 2rem;
    padding: 1rem;
}

#selected .options p{
    font-size: 1.1rem;
}

/* #endregion */

/*---------popups---------*/

/* #region */

#score-selector{
    transition: all .5s;
    position: absolute;
    background-color: var(--gray-3);
    box-shadow: var(--shadow-1);
    transform: scale(0);
    z-index: 10;
    padding: 1rem;
    width: auto;
    border-radius: 1rem;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
}

#score-selector .delete{
    color: white;
    text-align: center;
    padding: .5rem;
    font-size: 130%;
}

#score-selector div:first-of-type{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: .5rem;
}

#score-selector div p{
    color: var(--gray-6);
    font-size: 1.8rem;
    padding: .1rem;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

#score-selector div p:hover{
    color: var(--color-accent-1);
}

#score-input{
    background-color: rgb(57, 57, 57);
    border: none;
    /* border-bottom: .1rem solid var(--color-accent-1); */
    color: var(--gray-6);
    border-radius: .3rem;
    box-sizing: border-box;
    padding-inline: .5rem;
    transition: border .4s;
    box-shadow: inset 0 0 .2rem .2rem rgba(0, 0, 0, 0.271);
    font-size: 1.5rem;
    width: 100%;
    padding-top: .1rem;
    border-bottom: .2rem solid transparent;
}

#score-input:focus{
    outline: none;
    border: none;
    border-bottom: .2rem solid var(--color-accent-1);
}

#score-selector div:last-of-type{
    display: flex;
    justify-content: space-around;
    font-size: 2.7rem;
    margin-top: .3rem;
    color: var(--gray-6);
}

#score-selector div:last-of-type i{
    box-shadow: var(--shadow-3);
    transition: all .3s;
    cursor: pointer;
    min-height: 1rem;
    background-color: hsl(0, 0%, 23%);
    aspect-ratio: 1;
}

#score-selector div:last-of-type i:hover{
    box-shadow: var(--shadow-3);
    color: var(--color-accent-1);
}

#editmode{
    background-color: var(--gray-3);
    box-shadow: var(--shadow-1);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 1rem;
    top: 50%;
    left: 50%;
    width: 90vw;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s;
}

#editmode #question-inputs{
    display: grid;
    grid-template-columns: auto auto;
    gap: .5rem;
    margin-block: 1rem;
}

#editmode input{
    font-size: 100%;
    background-color: var(--gray-2);
    color: var(--gray-6);
    width: 100%;
}

#editmode p{
    cursor: pointer;
    background-color: var(--gray-2);
    width: fit-content;
    color: var(--gray-6);
    padding: .5rem;
}

#create-ffa{
    background-color: var(--gray-3);
    box-shadow: var(--shadow-1);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 1rem;
    top: 50%;
    left: 50%;
    width: 90vw;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s;
}

#create-ffa input{
    font-size: 100%;
    background-color: var(--gray-2);
    color: var(--gray-6);
    width: 100%;
}

#create-ffa p{
    cursor: pointer;
    background-color: var(--gray-2);
    width: fit-content;
    color: var(--gray-6);
    padding: .5rem;
}

#answers{
    position: absolute;
    right: 10vw;
    left: 10vw;
    top: 10vh;
    bottom: 30vh;
    color: white;
    display: none;
    z-index: 50;
    background-color: var(--gray-3);
    padding: 2rem;
    box-shadow: var(--outline-2), var(--shadow-3);
    overflow-y: auto;
    flex-direction: column;
}

#answers table{
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    border-collapse: collapse;
}

#answers table th{
    font-weight: bold;
    text-shadow: var(--outline-1);
}

#answers table td, #answers table th{
    border: 1px solid white;
    padding: .3rem;
}

#answers p:last-of-type{
    justify-self: flex-end;
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
}

/* #endregion */

/*---------- bars ----------*/

/* #region*/

footer{
    margin-top: auto;
}

/* #endregion */


/**********Keyframes**********/

/**********Responsive**********/
/* @media screen and (max-width: 1100px) {
    main{
        width: 30vw
    }
}

@media screen and (max-width: 700px) {
    main{
        width: 100%;
    }
} */