/**********Generall**********/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

img{
    width:100%
}

body{
    background-color: hsl(0, 0%, 28%);
    overflow: auto;
}

/**********Main Style**********/

main{
    display: none;
    position: relative;
    background-color: var(--gray-3);
    box-shadow: var(--shadow-1);
}

/*---------timer---------*/

/* #region */

#timer{
    box-shadow: var(--shadow-1);
}

#timer-number{
    cursor: pointer;
}

#timer-number div{
    aspect-ratio: 1;
    height: 3rem;
    background-color: var(--gray-3);
    border: .3em solid var(--color-accent-1);
    display: grid;
    place-items: center;
    border-radius: 100%;
    box-sizing: border-box;
}

#timer-number div p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--gray-6);
    font-family: standart;
    text-shadow: var(--outline-1);
    user-select: none;
    display: flex;
}

#timer-number div p span{
    font-size: 1.6rem;
    align-self: center;
}

#timer-bar-parent{
    height: 2.8vh;
    margin-block: auto;
    margin-inline: 1em;
}

#timer-bar{
    height: 100%;
}

/* #endregion */

/*---------login---------*/

/* #region */

#login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    /* display:none */
}

#login div{
    display: flex;
    flex-direction: column;
}

#login p{
    font-family: standart;
    color: white;
    text-align: center;
    font-size: 300%;
    text-shadow: var(--outline-1);
    text-transform: uppercase;
}

#login input{
    background-color: var(--gray-2);
    border: none;
    box-shadow: inset 0 0 .2rem .2rem rgba(0, 0, 0, 0.432);
    font-size: 200%;
    padding: .5rem;
    width: 90%;
    margin-inline: auto;
    color: var(--gray-6);
    margin-block: .5rem;
}

#login input:focus{
    outline: .1rem solid var(--color-accent-1);
}

#login #submitName{
    font-family: standart;
    color: white;
    background-color: var(--gray-2);
    box-shadow: var(--outline-1);
    border-radius: .5rem;
    text-align: center;
    font-size: 160%;
    width: fit-content;
    text-align: center;
    padding: .5rem 1.5rem;
    /* margin-top: .7rem; */
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
    text-transform: uppercase;
}

/* #endregion */

/*---------selected question---------*/

/* #region */

#selected{
    background-color: var(--gray-4);
    transition: all .6s;
    padding: 2.5vw;
    opacity: 0;
    box-shadow: inset 0 0 1rem 1rem rgba(26, 26, 26, 0.373);
    align-items: center;
    justify-content: center;
    display: flex;
    transition: opacity .5s;
}

#selected .text{
    text-shadow: var(--outline-1);
    font-size: 2rem;
    text-align: center;
    justify-self: center;
}

#selected .buttons{
    display: flex;
    position: absolute;
    top: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
    left: 0;
    right: 0hhh;
}

#selected .buttons p{
    color: rgb(122, 18, 128);
    text-align: center;
    width: 10%;
    font-size: 1.1rem;
    cursor: pointer;
    margin-inline: 2rem;
}

#waiting{
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    top: 50vh;
    font-size: 150%;
    font-family: standart;
}

#answerInput{
    color: white;
    text-align: center;
    font-size: 150%;
    font-family: standart;
    background-color: var(--gray-3);
    margin-inline: auto;
    width: 80%;
}

#selected .header{
    justify-self:flex-start;
    position: absolute;
    top: -1.5rem;
    font-size: 1.5rem;
    font-family: thick;
    color: rgb(100, 0, 100);
    font-weight: 1000;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transform: translateY(-50%);
}

/* #endregion */

/*---------- controlls ----------*/

/* #region*/

.bottom-bar{
    display: flex;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--gray-2);
    padding-block: .5rem;
    margin-top: auto;
}

.bottom-bar p{
    color: var(--gray-6);
    text-align: center;
    font-family: standart;
    margin-bottom: .5rem;
}

#popup{
    position: absolute;
    top: 35vh;
    opacity: 0;
    transition: all .5s;
    color: var(--gray-6);
    background-color: var(--gray-2);
    border-radius: .5rem;
    text-align: center;
    font-size: 150%;
    font-family: standart;
    z-index: 100;
    left: 50%;
    padding: .5rem;
    transform: translateX(-50%);
}

/* #endregion */

/*---------players---------*/

/* #region */

#players{
    display: block;
    height: fit-content;
    overflow: initial;
}

.player{
    font-size: 2em;
    padding: .5em;
    background-color: var(--gray-2);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-radius: 1rem;
    position: relative;
    box-shadow: none;
    margin: 0;
    box-sizing: content-box;
    max-width: 800px;
    margin-inline: auto;
}

/* #endregion */

/**********media**********/


@font-face {
    font-family: thick;
    src: url(../import/Roboto-Black.ttf);
}


@media screen and (min-width: 800px) {
    #timer-number div{
        height: 3rem;
    }

    #timer{
        height: 10vh;
    }
}

@media screen and (min-width: 1200px) {

    #timer-number{
        display: flex;
        justify-content: center;
    }
}

/**********Keyframes**********/