/**********Generall**********/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

img{
    width:100%
}

/**********Main Style**********/

body{
    background-color: var(--gray-3);
    overflow: auto;
}

main{
    display: none;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    max-width: 800px;
    margin-inline: auto;
}

/*---------timer---------*/

#timer{
    background-color: var(--gray-1);
    display: flex;
    box-shadow: var(--shadow-1);
    z-index: 5;
    height: 8vh;
}

#timer-number{
    height: 10vw;
    width: 10vw;
    box-sizing: border-box;
    padding: .8em;
    flex-shrink: 0;
    color: var(--gray-6);
/*     text-shadow:.1rem .1rem 0em var(--color-accent-2),
                -.1rem -.1rem 0em var(--color-accent-2); */
    cursor: pointer;
}

#timer-number div{
    height: 5vh;
    width: 5vh;
    background-color: var(--gray-3);
    border: .3em solid var(--color-accent-1);
    display: grid;
    place-items: center;
    border-radius: 100%;
    box-sizing: border-box;
}

#timer-number div p{
    text-align: center;
    font-size: 5vw;
    color: var(--gray-6);
    font-family: standart;
    text-shadow: var(--outline-1);
    user-select: none;
    display: flex;
}

#timer-number div p span{
    font-size: .8em;
    align-self: center;
}

#timer-bar-parent{
    height: 2.8vw;
    width: 100%;
    margin-block: auto;
    background-color: var(--gray-2);
    margin-inline: 1em;
    border-radius: 1rem;
    overflow: hidden;
}

#timer-bar{
    height: 100%;
    width: 0%;
    background-color: var(--color-accent-1);
}

/*---------login---------*/

#login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    /* display:none */
}

#login div{
    display: flex;
    flex-direction: column;
}

#login p{
    font-family: standart;
    color: white;
    text-align: center;
    font-size: 300%;
    text-shadow: var(--outline-1);
    text-transform: uppercase;
}

#login input{
    background-color: var(--gray-2);
    border: none;
    box-shadow: inset 0 0 .2rem .2rem rgba(0, 0, 0, 0.432);
    font-size: 200%;
    padding: .5rem;
    width: 90%;
    margin-inline: auto;
    color: var(--gray-6);
    margin-block: .5rem;
}

#login input:focus{
    outline: .1rem solid var(--color-accent-1);
}

#login #submitName{
    font-family: standart;
    color: white;
    background-color: var(--gray-2);
    box-shadow: var(--outline-1);
    border-radius: .5rem;
    text-align: center;
    font-size: 160%;
    width: fit-content;
    text-align: center;
    padding: .5rem 1.5rem;
    /* margin-top: .7rem; */
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
    text-transform: uppercase;
}

/*---------fragen---------*/

#questions{
    background-color: var(--gray-3);
    display: flex;
    /* padding-inline: .6em; */
    position: relative;
    height: auto;
    padding-bottom: 2rem;
}

#questions h1{
    text-align: center;
    font-size: 1em;
    padding: .4em;
    background-color: var(--color-accent-1);
    color: var(--gray-1);
    /* box-shadow: inset 0 0 1rem 1rem rgba(0, 0, 0, 0.296); */
    box-shadow: var(--shadow-2);
    color: var(--gray-6);
    user-select: none;
}

.catergory{
    background-color: var(--gray-3);
    width: 25%;
    /* padding-inline: .6em; */
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
}

.catergory div{
    width: auto;
    height: auto;
    box-sizing: border-box;
    background-color:var(--gray-4);
    margin: 1em;
    margin-inline: 1.6em;
    display: grid;
    place-items: center;
    border-radius: 1em;
    box-shadow: var(--outline-1), var(--shadow-3);
    cursor: pointer;
}

.catergory div p{
    font-size: 2em;
    text-align: center;
    text-shadow: var(--outline-1);
    color: var(--gray-6);
    user-select: none;
}

#selected{
    background-color: var(--gray-4);
    border: 0rem solid var(--color-accent-1);
    transition: all .6s;
    padding: 2.5vw;
    display: none;
    box-shadow: inset 0 0 1rem 1rem rgba(26, 26, 26, 0.373);
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: auto;
}

#selected .text{
    color: var(--gray-6);
    text-shadow: var(--outline-1);
    font-family: standart;
    font-size: 8vw;
    width: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
    line-height: 130%;
}

#selected .buttons{
    display: flex;
    position: absolute;
    top: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
    left: 0;
    right: 0hhh;
}

#selected .buttons p{
    color: rgb(122, 18, 128);
    text-align: center;
    width: 10%;
    font-size: 1.1rem;
    cursor: pointer;
    margin-inline: 2rem;
}

#selected .image{
    width: 100%;
    aspect-ratio: 4/3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#waiting{
    position: absolute;
    width: 100vw;
    color: white;
    text-align: center;
    top: 50vh;
    font-size: 150%;
    font-family: standart;
}

#answerInput{
    color: white;
    text-align: center;
    font-size: 150%;
    font-family: standart;
    background-color: var(--gray-3);
    margin-inline: auto;
    width: 80%;
}

#selected .header{
    justify-self:flex-start;
    position: absolute;
    top: 25vh;
    font-size: 1.5rem;
    font-family: thick;
    color: rgb(100, 0, 100);
    font-weight: 1000;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

#delete{
    color: var(--gray-6);
    text-align: center;
    font-size: 110%;
    font-family: standart;
    margin-bottom: .5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

#popup{
    position: absolute;
    top: 35vh;
    opacity: 0;
    transition: all .5s;
    color: var(--gray-6);
    background-color: var(--gray-3);
    border-radius: .5rem;
    text-align: center;
    font-size: 150%;
    font-family: standart;
    z-index: 100;
    left: 50%;
    padding: .5rem;
    transform: translateX(-50%);
}

/*---------fragen---------*/

#players{
    display: block;
    height: fit-content;
    overflow: initial;
}

.player{
    font-size: 2em;
    padding: .5em;
    background-color: var(--gray-2);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-radius: 1rem;
    position: relative;
    box-shadow: none;
    width: auto;
    height: 10vh;
    margin: 0;
    box-sizing: content-box;
    max-width: 800px;
    margin-inline: auto;
}

/**********media**********/


@font-face {
    font-family: thick;
    src: url(../import/Roboto-Black.ttf);
}


@media screen and (min-width: 800px) {
    #timer-number div{
        height: 7vh;
        width: 7vh;
    }

    #timer{
        height: 10vh;
    }
}

@media screen and (min-width: 1200px) {
    #timer-number div{
        height: 10vh;
        width: 10vh;
    }

    #timer-number{
        display: flex;
        justify-content: center;
    }
}

/**********Keyframes**********/