#rules h1, #categories h1{
	text-shadow: var(--outline-2);
	font-size: 2rem;
	text-align: center;
	grid-area: 1 / 1 / 1 / 3;
	height: auto;
}

#rules h2, #categories h2{
	text-shadow: var(--outline-1);
	font-size: 1.6rem;
	margin-top: 1rem;
}

#rules h3, #categories h3{
	font-size: 1.3rem;
	text-shadow: var(--outline-1);
	margin-top: .3rem;
	margin-bottom: .2rem;
}

#rules{
	display: none;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	position: absolute;
	background-color: var(--gray-3);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 11;
	color: var(--gray-6);
	font-size: 1.3rem;
	padding: 2vw;
}

#rules section{
	padding: 1vw;
	width: 100%;
}

#rules ul{
	margin-left: 2rem;
	margin-bottom: .5rem;
}

#rules li{
	margin-bottom: .2rem;
	line-height: 160%;
}


#rules p, #rules h1, #rules h2, #rules h3, #rules li{
	color: inherit;
}

.two-way{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	margin-bottom: 1rem;
}

.two-way .line{
	grid-column: 1 / span 2;
	height: 3vh;
	width: .1rem;
	background-color: var(--gray-6);
	margin-left: auto;
	margin-right: auto;
}

.two-way .split{
	width: 60%;
	border: .15rem var(--gray-6) solid;
	border-bottom: none;
	height: 3vh;
	margin-left: auto;
	margin-right: auto;
	grid-column: 1 / span 2;
}

.two-way .option{
	border: .15rem solid var(--gray-6);
	margin-inline: 1rem;
	box-shadow: var(--outline-1), var(--shadow-3);
	background-color: rgb(55, 55, 55);
}

.two-way ul{
	margin: .5rem;
	margin-left: 1.5rem;
}

.two-way .option p:first-of-type{
	color: inherit;
	font-size: 1.2em;
	text-align: center;
	border-bottom: .15rem solid var(--gray-6);
	box-shadow: var(--outline-1);
	text-shadow: var(--outline-1);
	padding-bottom: .2rem;
	margin-bottom: .2rem;
}

#categories{
	display: none;
	position: absolute;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
	background-color: var(--gray-3);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 11;
	color: var(--gray-6);
	padding:1vw 3vw;
}

#categories div{
	width: 100%;
}

#categories div:first-of-type{
	grid-column: span 2;
	text-align: center;
}

#categories ul{
	margin-left: 2vw;
	margin-top: .5vw;
}

#categories li{
	margin-bottom: .2rem;
	line-height: 160%;
	font-size: 1.1rem;
	width: max-content;
}

#categories p, #categories h1, #categories h2, #categories h3, #categories li{
	color: inherit;
}

#categories p{
	color: var(--gray-6);
	opacity: .5;
}

#categories ul li:last-of-type, .underline{
	text-decoration:underline var(--color-accent-1) .15rem;
	font-weight: bold;
	background-color: transparent;
	color: inherit;
}

:root {
	--color-accent-1: rgb(197, 21, 206);--color-accent-2: rgb(0, 77, 178);
	--color-contrast: white;

	--gray-1:rgb(30, 30, 30);
	--gray-2:rgb(46, 46, 46);
	--gray-3:rgb(63, 63, 63);
	--gray-4:rgb(86, 86, 86);
	--gray-5:rgb(97, 97, 97);
	--gray-6:rgb(200, 200, 200);

	--outline-1:.1rem .1rem 0em var(--color-accent-1),
	-.1rem -.1rem 0em var(--color-accent-2);
	--outline-2:.2rem .2rem 0em var(--color-accent-1),
	-.2rem -.2rem 0em var(--color-accent-2);

	--shadow-1: 0rem 0rem 1rem .5rem rgba(24, 24, 24, 0.537);
	--shadow-2: 0rem .3rem 0rem 0rem rgba(35, 35, 35, 0.222);
	--shadow-3: .5rem .5rem .3rem 0rem rgba(35, 35, 35, 0.165);

}