# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\.Creativ Stuff\.code\Gameshow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
